/.ipynb_checkpoints/4_10_Практическая_работа (1) (1)-checkpoint.ipynb
/.ipynb_checkpoints/13.9 Практическая работа-checkpoint.ipynb
/.ipynb_checkpoints/Untitled-checkpoint.ipynb
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/final_work.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/logs/
/sources/sber_aito.db
